## coolsms api key
/hafysrc/src/main/java/hafy/member/controller/MemberController.java
/hafysrc/src/main/java/hafy/bid/service/BidServiceImpl.java

## aws
/hafysrc/src/main/resources/config/spring/spring-mvc.xml

